In [57]:
import os
import pandas as pd
import support as sp
import numpy as np
from tqdm import tqdm_notebook as pb

In [19]:
filePath = r"C:\Users\Eric\Documents\Projects\BASEP\BASEP_tests\20191128\Test11_2019_11_28_15_09_06"
t = sp.load_dat(filePath)
t = t.reset_index()
t.time = (t.time-t.time[0]).dt.total_seconds()
t.head()

                         name  time  id   x   y
0  Test11_2019_11_28_15_09_06   0.0   0 NaN NaN
1  Test11_2019_11_28_15_09_06   0.0   1 NaN NaN
2  Test11_2019_11_28_15_09_06   0.0   2 NaN NaN
3  Test11_2019_11_28_15_09_06   0.0   3 NaN NaN
4  Test11_2019_11_28_15_09_06   0.0   4 NaN NaN

In [46]:
for i in t.id.unique().tolist():
    if t[t.id==i].isnull().any().any() == False:
        new_t = t[t.id==i]
        
del new_t["name"]
new_t = sp.from_px_to_um(new_t,0.1805)
new_t.head()

     time  id         x         y
6   0.000   6  9.106734  5.630421
20  0.066   6  9.153389  5.616509
34  0.133   6  9.232917  5.593312
48  0.200   6  9.316322  5.540272
62  0.266   6  9.396828  5.544930

In [45]:
new_t.to_csv(r"C:\Users\Eric\Documents\Projects\BASEP\Datasets\20191128\test.dat", sep='\t')

# Batch

In [21]:
directory = r"C:\Users\Eric\Documents\Projects\BASEP\BASEP_tests\20191128"#\tracking_files" #Insert here your directory

tests = np.linspace(1,56,56,dtype=int)

In [31]:
pre_list = sp.get_names(directory,ext = ".dat")

pre_list = pre_list[:]

files = []

for test_number in tests:

    file_name = "Test{0}_".format(test_number)

    for file in pre_list:

        if file_name in file:
            files.append(file)

len(files)

56

In [39]:
dataset_dir = r"C:\Users\Eric\Documents\Projects\BASEP\Datasets\20191128"

In [65]:
for test, filename in pb(enumerate(files)):
        
    t = sp.load_dat(filename)
    t = t.reset_index()
    t.time = (t.time-t.time[0]).dt.total_seconds()
    
    for i in t.id.unique().tolist():
        if t[t.id==i].isnull().any().any() == False:
            new_t = t[t.id==i]
            
    del new_t["name"]
    new_t = new_t.reset_index(drop=True)
    new_t = sp.from_px_to_um(new_t,0.1805)
    save_filepath = dataset_dir+'\\Tracking_Test{0}_20191128.dat'.format(test+1) 
    new_t.to_csv(save_filepath, sep='\t')

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

# Loop Test

In [60]:
foo = 897
t = sp.load_dat(files[0])
t = t.reset_index()
t.time = (t.time-t.time[0]).dt.total_seconds()

for i in t.id.unique().tolist():
    if t[t.id==i].isnull().any().any() == False:
        new_t = t[t.id==i]

del new_t["name"]
new_t = new_t.reset_index(drop=True)
new_t = sp.from_px_to_um(new_t,0.1805)
new_t.to_csv(dataset_dir+'\\Tracking_Test{0}.dat'.format(foo+100), sep='\t')

In [59]:
new_t.head()

    time  id          x          y
0  0.000  15  35.695500  45.008036
1  0.067  15  35.643876  44.622849
2  0.133  15  35.752357  44.128820
3  0.200  15  35.811922  43.750493
4  0.267  15  35.950727  43.552484